.DS_Store
*.xcuserdata
xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
.build/
.swiftpm/
Package.resolved
.vscode/settings.json
.idea/
*.swp
*.swo
*~
